<!DOCTYPE html>
<html ng-app="nyslApp">

<head>
<title>NYSL Game Schedule App</title>
<meta charset="utf-8">
<!--Tells iPhone Safari (not iPad) to hide address bar so app looks native. -->
<meta name="apple-mobile-web-app-capable" content="yes">  
<!--what Chrome wants for both Android and iOS wants to hide the address bar.-->
<meta name="mobile-web-app-capable" content="yes">  
 <!--orders all browsers to show the contents with the intended size and not auto-resize (or auto-fit) the page.-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, maximum-scale=1.0, user-scalable=no"> 
<!--fixes a glitch in iOS v7.0 Safari for iPhone.-->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!--For Android's default browser and Android Chrome -->
<link rel="shortcut icon" sizes="128x128" href="/images/nysl_app-152.png"> 
<link rel="shortcut icon" sizes="196x196" href="/images/nysl_app-152.png"> 
<!-- Separate icons for Apple and Android --> 
<link rel="apple-touch-icon" href="/images/nysl_app-152.png">  
<link rel="apple-touch-icon" sizes="76x76" href="/images/nysl_app-152.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/nysl_app-152.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/nysl_app-152.png">
<!-- CSS reset-->
<link rel="stylesheet" type="text/css" href="CSS/normalize.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!-- my CSS -->
<link rel="stylesheet" type="text/css" href="CSS/styles.css">
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDf2BYRA4995Du3Db8AO3uK9iGWhpUtsFI",
    authDomain: "nysl-game-app.firebaseapp.com",
    databaseURL: "https://nysl-game-app.firebaseio.com",
    storageBucket: "nysl-game-app.appspot.com",
    messagingSenderId: "69402279648"
  };
  firebase.initializeApp(config);
</script>
<!-- Angular JS -->
<script src="JS/angular.js"></script>
<script src="JS/app.js"></script>
</head>

<body ng-controller="NyslController">
	<div class="header"> <!-- start of header -->
		<navbar>
			<button name="back" class="back_button" type="type"><i class="fa fa-arrow-left"></i></button>
			<button name="home" class="home_button" type="type"><i class="fa fa-home"></i></button>
			<h1>NYSL</h1>
			<button name="" class="signin_button" id="sign-in-button" type="type"><i class="fa fa-sign-in"></i></button>
			<button name="" class="signout_button"  id="sign-out-button" type="type"><i class="fa fa-sign-out"></i></button>
		</navbar>

		<header class="home">
			<img class="logo" src="images/app_logo.png" alt="NYSL Logo">
		</header>
	</div> <!-- end of header -->

	<div id="home" class="page"> <!-- start of HOME -->
		<div class="title">
			<h2>WELCOME</h2>
		</div>

		<div class="mainContent"> 
			<div class="buttonGroup">
			
				<div class="buttonRow">
					<button name="nextGames" class="fourButtons" type="button"><i class="fa fa-soccer-ball-o "></i><h3>GAMES</h3></button>
					<button name="teams" class="fourButtons" type="button"><i class="fa fa-users"></i><h3>TEAMS</h3></button>
				</div>

				<div class="buttonRow">
					<button name="locations" class="fourButtons" type="button"><i class="fa fa-map-marker"></i><h3>LOCATIONS</h3></button>
					<button name="contacts" class="fourButtons" type="button"><i class="fa fa-comments-o"></i><h3>CONTACT</h3></button>
				</div>
				
			</div> <!-- end buttonGroup -->
		</div> <!-- end mainContent -->

	</div> <!-- end of HOME -->

	<div id="nextGames" class="page">
		<div class="title">
					<h2>NEXT GAMES</h2>
				</div>
		<button name="allGames" class="singleButtonSplit" type="button"><h3><i class="fa fa-plus-square"></i> ALL GAMES</h3></button>
				
		<div class="splitScreen">

				<div class="mainContentOverFlowSplit">
					<div class="overflowContentSplit">
							<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/01 U1 vs U4</h5></button>
							<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/01 U3 vs U2</h5></button>
							<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/08 U5 vs U6</h5></button>
							<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/08 U3 vs U1</h5></button>
					</div> <!-- end of content -->
				</div> <!-- end of mainContent -->

				<div class="mainContentOverFlowSplit">
					<div class="overflowContentSplit">
						<div class="text">
							<h4>U1 vs U4 - 9/01 at 9:30 a.m.</h4>
							<h4>AJ Katzenmaier School</h4>
						</div>
						<div id="map3" class="mapSplit">
						</div>
					</div> <!-- end of content -->
				</div> <!-- end of mainContent -->

		</div> <!-- end of splitScreen -->
	</div> <!-- end of nextGames -->
	
	<div id="allGames" class="page">
	
		<div class="title">
			<h2>ALL GAMES</h2>
		</div>
		
		<div class="mainContentOverflow">
			<div class="overflowContent">
				
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/01 U1 vs U4</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/01 U3 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/08 U5 vs U6</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/08 U3 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/15 U5 vs U4</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/15 U6 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/22 U5 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/22 U3 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/29 U5 vs U4</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/29 U6 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>10/06 U5 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>10/06 U3 vs U1</h5></button>					
			</div> <!-- end of overflowContent -->
		</div> <!-- end of mainContentOverflow -->
	</div> <!-- end of allGames -->
	
	<div id="gameInfo" class="page">
	
		<div class="title">
			<h2>GAME INFO</h2>
		</div>
		
		<div class="mainContent">
			<div class="content">
				<div class="text">
					<h4><b>DATE:</b> 9/01</h4>
					<h4><b>TEAMS:</b> U1 vs U4</h4>
					<h4><b>TIME:</b> 9:30 a.m.</h4>
					<h4><b>LOCATION:</b> AJ Katzenmaier</h4>
				</div>
				<div id="map1" class="mainMap">
				</div>
			</div> <!-- end of content -->
		</div> <!-- end of mainContent -->
	</div> <!-- end of gameInfo -->
	
	<div id="teams" class="page">
	
		<div class="title">
			<h2>TEAMS</h2>
		</div>
		
		<div class="mainContent">
			<div class="buttonGroup">
			
				<div class="buttonRow">
					<button name="gamesByTeam" class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 1</h3></button>
					<button name="gamesByTeam"class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 2</h3></button>
				</div>

				<div class="buttonRow">
					<button name="gamesByTeam"class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 3</h3></button>
					<button name="gamesByTeam"class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 4</h3></button>
				</div>

				<div class="buttonRow">
					<button name="gamesByTeam" class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 5</h3></button></a>
					<button name="gamesByTeam" class="sixButtons" type="button"><i class="fa fa-shield button_icons"></i><h3>TEAM 6</h3></button></a>
				</div>
				
			</div> <!-- end of buttonGroup -->
		</div> <!-- end of mainContent -->
  </div> <!-- end of teams -->

	<div id="gamesByTeam" class="page">
	
		<div class="title">
			<h2>TEAM 1 GAMES</h2>
		</div>
		
		<div class="mainContentOverflow">
			<div class="overflowContent">
				
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/01 U1 vs U4</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/08 U3 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/22 U5 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>9/29 U3 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>10/06 U1 vs U2</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>10/13 U5 vs U1</h5></button>
					<button type="button" name="gameInfo" class="gameSummaryButton"><h5>10/20 U3 vs U1</h5></button>	
					
			</div> <!-- end of overflowContent -->
		</div> <!-- end of mainContentOverflow -->
	</div> <!-- end of gameByTeam -->

	<div id="locations" class="page">
	
		<div class="title">
			<h2>LOCATIONS</h2>
		</div>
	
		<div class="mainContent">
			<div class="buttonGroup">

	<!-- 	<div class="buttonRow">
				  <button ng-repeat="location in locations" id="location{{$index}}"
					class="sixButtons" type="button" name="locationInfo" ng-click="showLocationInfo('location{{$index}}')"><i class="fa fa-map-marker button_icons"></i><h3>
					{{location.name}}</h3></button>
				</div> -->
				  
		
				<div class="buttonRow">
					<button name="locationInfo" id="location1" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>AJ<br>KATZENMAIER</h3></button> 
					<button ng-click="getLocationId($element.target)" name="locationInfo" data-id="location2" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>GREEN<br>BAY</h3></button>
				</div>

				<div class="buttonRow">
					<button name="locationInfo" id="location3" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>HOWARD A YEAGER</h3></button>
					<button name="locationInfo" id="location4" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>MARJORIE P HART</h3></button>
				</div>

				<div class="buttonRow">
					<button name="locationInfo" id="location5" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>NORTH ELEMENTARY</h3></button>
					<button name="locationInfo" id="location6" class="sixButtons" type="button"><i class="fa fa-map-marker button_icons"></i><h3>SOUTH ELEMENTARY</h3></button>
				</div>

			</div> <!-- end of buttonGroup -->
		</div> <!-- end of mainContent -->
		
	</div> <!-- end of locations -->

	<div id="locationInfo" class="page">
	
		<div class="title">
			<h2>LOCATION INFO</h2>
		</div>
	
		<div class="mainContent">
			<div class="content">
				<div class="text">
					<h4><b> {{ locationName }} </b></h4>
					<p> {{ locationAddress }} </p>
				</div>
				<div id="map2" class="mainMap">
				</div>
			</div> <!-- end of content -->
		</div> <!-- end of mainContent -->
		
	</div>  <!-- end of locationInfo -->

	<div id="contacts" class="page">
	
		<div class="title">
			<h2>CONTACTS</h2>
		</div>

		<div class="mainContent">
			<div class="buttonGroup">

				<div class="buttonRow">
					<a href="mailto:michael.randall@chisoccer.org"><button class="fourButtons" type="button"><i class="fa fa-envelope"></i><h3>LEAGUE COORDINATOR</h3></button></a>
					<a href="tel:6306908132"><button class="fourButtons" type="button"><i class="fa fa-phone "></i><h3>LEAGUE COORDINATOR</h3></button></a>
				</div>

				<div class="buttonRow">
					<a href="mailto:nysl@chisoccer.org"><button class="fourButtons" type="button"><i class="fa fa-envelope"></i><h3>NYSL <br>STAFF</h3></button></a>
					<button name="messageBoard" class="fourButtons" type="button"><i class="fa fa-commenting"></i><h3>MESSAGE BOARD</h3></button>
				</div>

			</div> <!-- end of buttonGroup -->
		</div> <!-- end of mainContent -->
		
	</div> <!-- end of contacts -->

	<div id="messageBoard" class="page"> <!-- start of Message Board -->
		
		<div class="title">
			<h2>MESSAGE BOARD</h2>
		</div>

  	<!-- Splash screen 
			<section id="page-splash">
		   	<h2 class="logo">NYSL</h2>
				<h3>Message Board</h3>
				<div>
					<button class="signInButton" id="sign-in-button"><i class="fa fa-sign-in"></i> Sign in with Google</button>
				</div>
			</section> -->

    <!-- Navigation Bar Message Board -->
    	<div class="mainContentOverflow">
				<div class="messageHeader">
					<div id="menu-recent" class="is-active messageBoardButtons">
						<h2><i class="fa fa-exclamation-circle"></i></h2>
						<h3>RECENT</h3>
					</div>
					<div id="menu-my-posts" class="messageBoardButtons">
						<h2><i class="fa fa-user-circle-o"></i></h2>
						<h3>MY POSTS</h3>
					</div>
					<div id="menu-all" class="messageBoardButtons">
						<h2><i class="fa fa-plus-square"></i></h2>
						<h3>ALL POSTS</h3>
					</div>
					<div id="add" class="messageBoardButtons">
						<h2><i class="fa fa-pencil-square"></i></h2>
						<h3>NEW POST</h3>
					</div>
					
				</div> <!-- end of messagesHeader -->

				<div class="overflowContent">
					<!-- Write a new post -->
					<section class="mdl-grid content" id="add-post" style="display:none">
						<h2 class="mdl-card__title-text">New Post</h2>
						<form id="message-form" action="#">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="new-post-title" placeholder="Post title...">
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<textarea class="mdl-textfield__input" rows="5" id="new-post-message" placeholder="Write message..."></textarea>
								</div>
							<button id="post" class="post" type="submit"><h3><i class="fa fa-paper-plane"></i> POST</h3></button>
							</form>
						</section>

						<!-- Show a list of recent posts -->
						<section class="mdl-grid content" id="recent-posts-list" style="display:none">
							<div class="posts-container">
							</div>
						</section>

						<!-- Show the list of user's posts -->
						<section class="mdl-grid content" id="user-posts-list" style="display:none">
							<div class="posts-container">
							</div>
						</section>
						
						<!-- Show  when logged out -->
						<section class="mdl-grid content" id="posts-hidden" style="display:none">
							<div class="message">
 								<h4>You need to sign in to view and post messages</h4>
 							</div>
						</section>
					
					</div>
	

			</div> <!-- end of mainContent -->
 		</div> <!-- end of messageBoard -->
				
	<div id="loggedIn" class="page">
	
			<div class="title">
				<h2>MY ACCOUNT</h2>
			</div>
	
		<div class="mainContent">
		
			<div class="content loggedIn">	
 				<div class="message">
 					<h4>You are currently signed in with your Google account</h4>
 				</div>
  			
				<div class="sign-out-button messageBoardButtons">
						<h2><i class="fa fa-sign-out"></i></h2>
						<h3>SIGN OUT</h3>
				</div>
			</div> <!-- end of content(loggedIn)-->
 		</div> <!-- end mainContent -->
 	</div> <!-- end of loggedIn -->
 	
 	<div id="loggedOut" class="page">
	
			<div class="title">
				<h2>MY ACCOUNT</h2>
			</div>
	
		<div class="mainContent">
		
			<div class="content loggedIn">	
 				<div class="message">
 					<h4>You need to sign in to view and post messages</h4>
 				</div>
  			
				<div class="sign-out-button messageBoardButtons">
						<h2><i class="fa fa-sign-in"></i></h2>
						<h3>SIGN OUT</h3>
				</div>
			</div> <!-- end of content(loggedOut)-->
 		</div> <!-- end mainContent -->
 	</div> <!-- end of loggedOut -->
 	


		
		
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Font Awesome -->
	<script src="https://use.fontawesome.com/b55d83a6c7.js"></script>
	<!-- FireBase -->
	<!-- My JS -->
	<script src="JS/main.js"></script>
	<script src="JS/chat.js"></script>

</body>
</html>